
<table border=1 class="table table-hover table-dark">
    <thead>
      
      <th>COD</th>
      <th>Desc</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Pais</th>
      <th>Comestible</th>

  
      <th>
        <div *ngIf="!tamanioLista">
          <div class="spinner-border" role="status"></div>
        </div>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let uno of listadoProductos" app-fila-pelicula 
        (peliculaSeleccionado)="mostrarDetalles($event)"  (click)="mostrarDetalles(uno)">
        <td>{{uno.codigo}}</td>
        <td>{{uno.descripcion}}</td>
        <td>{{uno.precio}}</td>
        <td>{{uno.stock}}</td>
        <td>{{uno.paisOrigen.name}}</td>
        <td >{{uno.comestible}}</td>
        <td> <i     class="fa fa-check "></i></td>
      </tr>
    </tbody>
  </table>